body{
    background-color: gray;
}
table{
    border: 5px solid black;
    color: blue;
    border-collapse: collapse;
}

thead{
    background-color:white;
    border: 5px solid black;
    font-size: large;
}

thead td{
    height: 80px;
    text-align: center;
}

tbody{
    background-color: rgba(250, 163, 2, 0.7);
}

button{
    border-radius: 3.5em;
    color: blue;
    background-color:white;
}